// GLOBAL Button styles

button, input[type='submit'] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "skolar-sans-latin", sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 0;
}
