// My color variables

// Named by Use
// $text: #4D4D4D;
$text: #6E605D;
$darkbg: #2A363B;
$lessertext: #8D8D8D;

// #1
$wheat:  #edd2aa;
$brick:   #DB9075;
$bluegray:    #808A8C;
$gray:    #928A87;
$stone:   #f1ede4;

// #3
$feather: #77C9D4;
$marine: #57BC90;
$forest: #015249;
$sleek: #A5A5AF;

// #4
$butter: #fedc3d;
$black: #111111;
$azure: #01abaa;
$peach: #fea680;

// #2
$clean: #a7d2cb;
$butter2: #f2d388;
$salmon: #c98474;
$eggplant: #874c62;
//
$tone0: $bluegray;
$tone1:  $wheat;
$tone2:  $brick;
$tone3:  $feather;
$text: $stone;

// $tone0: $clean;
// $tone1:  $butter;
// $tone2:  $salmon;
// $tone3:  $eggplant;



// temp
// $tone3: tone3;
$dtone3: blue;
$teal: teal;
$orange: orange;
$gray-1: gray;
$gray-2: gray;
$purple: purple;
$red: red;
