// My color variables

// Named by Use
// $text: #4D4D4D;
$text: #6E605D;
$darkbg: #2A363B;
$lessertext: #8D8D8D;

// Named by Shade
// $green:  #99B898;
// $peach:  #FECEA8;
// $pink:   #FF847C;
// $red:    #E84A5F;

$wheat:  #EFCB97;
$brick:   #DB9075;
$blue:    #808A8C;
$gray:    #928A87;
$stone:   #EFE9DD;

$start:  red;
$middle:  blue;
$end:  pink;

// temp
// $blue: blue;
$dblue: darkblue;
$teal: teal;
$orange: orange;
$gray-1: gray;
$gray-2: gray;
$purple: purple;
$red: red;
