// My color variables

// Named by Use
$text: #4D4D4D;
$darkbg: #1F1F1F;
$lessertext: #8D8D8D;

// Named by Shade
$gray-2: #F2F2F2;
$gray-1: #F7F7F7;
$orange: rgb(247,158,32);
$blue: #94CEC4;
$dblue: #016D9D;
$teal: #229D88;
$purple: #393C79;
$red: #EF5225;
