// GLOBAL Header specific

$anim-height: 1.2em;
$anim-width: 4.5em;
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  @include breakpoint(medium up) {
    flex-flow: row nowrap;
  }
  position: relative;
}

.paper {
  background-color: $wheat;
  // background-image: url(/images/LayeredPaperBall_reel_color.png);
  // background-size: 100%;
  // color: $brick;
  // width: 200px;
  // height: 200px;
  overflow: hidden;
  position: relative;
  // padding: 16px;
  img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    animation: wobble-hor-bottom 2s infinite both;
  }
  &:hover {
    img {
      animation-play-state: paused;
    }
  }


  @include breakpoint(small) {
    flex: none;
    // position: absolute;
    height: 100px;
    width: 100px;
    // top: 2em;
    // right: 0;
  }
  @include breakpoint(medium up) {
    flex: 0 0 22vw;
    height: 22vw;
    width: 22vw;
    max-width: 200px;
    max-height: 200px;
    // position: static;
    flex-flow: row nowrap;
  }
} // .paper

.masthead {
  flex: 1 1 auto;
  background: $brick;
  padding: 2.25em 2em 1.75em 2em;
  color: $text;
  h1 {
    color: $text;
    padding: 0;
    margin: 0 0 0.5em 0;
    @include breakpoint(medium up) {
      margin: 0;
    }
  }
  h2 {
    font-size: 2em;
    height: $anim-height;
    color: $wheat;
    padding: 0;
    margin: 0;
  }

  h2.swap {
    position: relative;
    span {
      // display: none;
      display: inline-block;
      position: absolute;
      left: 2em;
      top: 0;
      filter: blur(6px);
      opacity: 0;
      transition: filter 0.5s linear, opacity 1s ease;
      &.on {
        opacity: 1;
        filter: blur(0px);
        // animation-name: text-focus;
        // animation-delay: 0;
        // animation-direction: normal;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-iteration-count: 1;
        // animation-timing-function: ease;
        // animation-play-state: running;
      }
      &.off {
        // animation-name: text-focus-out;
        // animation-delay: 0;
        // animation-direction: normal;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-iteration-count: 1;
        // animation-timing-function: ease;
        // animation-play-state: running;
      }
    }
  }

}
