// GLOBAL Header specific

$anim-height: 1.2em;
$anim-width: 4.5em;
header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  @include breakpoint(medium up) {
    flex-flow: row nowrap;
  }
}
.paper {
  flex: 0 0 100vw;
  height: 100vw;


  background-color: $blue;
  color: $brick;
  @include breakpoint(medium) {
    flex: 0 0 20vw;
    height: 20vw;
    flex-flow: row nowrap;
  }
  @include breakpoint(large up) {
    flex: 0 0 20vw;
    height: 20vw;

  }
}
.masthead {
  flex: 1 1 auto;
  background: $brick;
  padding: 2em;
  color: $text;
  h1 {
    color: $text;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 2em;
    height: $anim-height;
    color: $wheat;
    padding: 0;
    margin: 0;
  }

  h2.swap {
    position: relative;
    span {
      // display: none;
      display: inline-block;
      position: absolute;
      left: 2em;
      top: 0;
      filter: blur(6px);
      opacity: 0;
      transition: filter 0.5s linear, opacity 1s ease;
      &.on {
        opacity: 1;
        filter: blur(0px);
        // animation-name: text-focus;
        // animation-delay: 0;
        // animation-direction: normal;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-iteration-count: 1;
        // animation-timing-function: ease;
        // animation-play-state: running;
      }
      &.off {
        // animation-name: text-focus-out;
        // animation-delay: 0;
        // animation-direction: normal;
        // animation-duration: 1s;
        // animation-fill-mode: forwards;
        // animation-iteration-count: 1;
        // animation-timing-function: ease;
        // animation-play-state: running;
      }
    }
  }

}
