.info-launcher {

}

.info-container {
  background-color: aliceblue;
  // display: none;
  opacity: 0;
  transition: opacity 1s ease;
}
.info-container__close {

}
.info-container__sub-container {

}

li.info-element {
  display: none;
  // opacity: 0;
  // transition: opacity 1s ease;
}
