.info-launcher {

}

.info-container {
  background-color: aliceblue;
  // display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

li.info {
  display: none;
  // opacity: 0;
  // transition: opacity 1s ease;
}

.close-info {

}

.sub-container {

}
