// GLOBAL type settings, including Headings, Links, Paragraphs, etc.

h1, h2, h3, h4, h5, h6, p {
  color: $text;
}

h1 {
  font-size:   48px;
  line-height: 1.185; // unit-less line-height to keep it flexible
  font-weight: 400; // Roman/Regular
  margin: 0 0 0.8rem 0; // 1rem for 16pt
  font-family: "skolar-latin",serif;
  font-weight: 600;
  line-height: 0.9;
  @include breakpoint(medium) {
    font-size: 68px;
  }
  @include breakpoint(large up) {
    font-size: 86px;
  }
}

h2 {
  font-size:   22px;
  line-height: 1.185;
  font-weight: 400; // Roman/Regular
  margin: 0.333em 0;
  @include breakpoint(medium) {
    font-size: 36px;
  }
  @include breakpoint(large up) {
    font-size: 48px;
  }
}

h3 {
  font-size:   26px;
  font-weight: 600; // Roman/Regular
  margin: 0 0 0.25em 0;
  line-height: 1.185;
}

p {
  margin: 0 0 1em 0;
  font-weight: 300; // light
  font-size:   1.333em;
  line-height: 1.5;
  max-width: 42em;
  // @include breakpoint(medium) {
  //   font-size: 16px;
  // }
  // @include breakpoint(large up) {
  //   font-size: 20px;
  // }
}

a {
  color: $text;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.4;
  transition: color 0.5s ease, border 0.5s ease;
  display: inline-block;
  margin-bottom: 0.2em;
  border-bottom: 1px dashed transparent;
  padding-bottom: 0.1em;
  &:hover, &:focus {
    color: darken($tone3, 15%);
    border-bottom: 1px dashed darken($tone3, 15%);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}

ul.horz-list {
  li {
    display: inline-block;
    a {
      border: none;
    }
  }
}
