.avatar {
  // layout styles in navigation.scss
  @include clearfix;
  text-align: left;
  width: 100%;
  margin-bottom: 1em;
  img {
    float: left;
    margin-right: 1em;
  }
  @include  breakpoint(medium) {
    width: 200px;
    float: left;
    margin-left: 0;
  }
  @include breakpoint(large up) {
    float: none;
    display: inline-block;
  }
}

.avatar--name {
  padding-top: 0.2em;
  font-size: 18px;
  color: orange;
  line-height: 1.6;
}

.avatar--title {
  font-size: 12px;
  line-height: 1;
  color: white;
}
