.info-launcher {

}

.info-container {
  background-color: $tone3;
  // display: none;
  opacity: 0;
  color: $tone1;
  transition:
    opacity 0.5s ease,
    transform 0.4s ease-in,
    left 0.4s ease-in;
  position: fixed;
  top: 0;
  left: 100vw;
  bottom: 0;
  transform: scale(0.5);
  width: 80vw;
  padding: 2em;
  &.on {
    left: 20vw;
    // height: 100vw;
    transform: scale(1);
    opacity: 1;
  }
  h2 {
    color: $tone0;
  }
  p {
    color: $tone0;
  }
}
.info-container__close {
  border-bottom: none;
  width: 100%;
  background-color: $tone2;
  svg {
    width: 1em;
    height: auto;
    path {
      fill: $tone1;
    }
  }
}
.info-container__sub-container {
  // opacity: 0;
  // transition: opacity 1s ease;
  // &.has-content {
  //   opacity: 1;
  // }
}

li.info-element {
  display: none;
  // opacity: 0;
  // transition: opacity 1s ease;
}
