.marlin-wings {
  padding: 1.6em 0 1.6em 0;
  text-align: left;
  svg {
    display: inline-block;
    // width: 150%;
    height: auto;
    // position: relative;
    // left: -62vw;
    @include responsive-svg(701px, 52px, 100%);
  }
  svg:first-child {
    padding-left:  8px;
    padding-right: 8vw;
  }
  svg:last-child {
    display: none;
  }
  @include breakpoint(medium up) {
    padding: 3em 0 3em 0;
    max-width: 698px;
    margin: 0 auto;
    svg {
      @include responsive-svg(701px, 52px, 100%);
      position: static;
    }
    svg:first-child {
      display: none;
    }
    svg:last-child {
      display: block;
    }
  }
  @include breakpoint(large up) {
    padding: 4em 0 4em 0;
  }
}
