section.band {
  background-color: white;
  width: 100%;
  position: relative;

  &.feature {
    background-color: $gray-2;
  }

  // All buttons in content sections are absolutely positioned so...
  button.button {
    position: absolute;
    bottom: -27px;
  }
}

.content-lockup {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
