.content-lockup--large {
  padding-top:    18px;
  padding-bottom: 53px;
  @include breakpoint(medium) {
    padding-top:    40px;
    padding-bottom: 68px;
  }
  @include breakpoint(large up) {
    padding-top:    96px;
    padding-bottom: 96px;
    @include clearfix;
  }
}

.content-lockup__image--large {
  background-color: $orange;
  img {
    mix-blend-mode: multiply;
  }
  @include breakpoint(large up) {
    width: 69%;
  }
}

.content-lockup__text--large {
  background-color: white;
  padding: 20px 16px 28px 16px;
  position: relative;
  transform: scale(0.8);
  transition: transform 1s ease;
  h1 {
    color: $teal;
  }
  @include breakpoint(medium) {
    width: 76vw;
    margin: -150px auto 0 auto;
    padding: 38px 32px 38px 32px;
  }
  @include breakpoint(large up) {
    width: 49%;
    // max-width: 86%;
    float: right;
    margin: -36% auto 0 auto;
    padding: 38px 32px 38px 32px;
    button.button {
      left:  auto;
      right: 36px;
    }
  }
  &.in-view {
    transform: scale(1);
  }
}
